:root {
  --bg-color: #3DA6FC;
  --box-color: #fdb120;
  --accent-color: #f0f0f0;
  --table-color: #CBC9C9;
  --table-title: #85878B;
  --table-head: #F7EFEF;
  --font: 'Poppins';
  --stat-accept: #1AC517;
  --stat-reject: #EE1010;
  --stat-pending: #3DA6FC; /* ce9427 */
  --transition: 0.3s ease-in-out all;
  /* --dark-bg-color: #150e60;  */
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: var(--accent-color);
  font-family: var(--font);
  width: fit-content;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home {
  display: flex;
  flex-direction: row;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  /* border: #000 solid; */
}

.form {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  height: 480px;
  width: 310px;
  border-radius: 30px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  top: 1rem;
  left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-top: 1rem;
  margin-left: 0.25rem;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.input-container,
.submit-box {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container {
  top: 0.4rem;
}

.input-container:last-child {
  margin-top: 10px;
}

.form button {
  outline: none;
  border: 2px solid #e5e7eb;
  margin: 8px 0;
  /* margin-bottom: -10px; */
}

.input-container input {
  outline: none;
  border: 2px solid #e5e7eb;
  background-color: #fff;
  padding: 1rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  line-height: 0.6rem;
  width: 16.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-left: auto;
  margin-right: auto;
}

.input-container input:focus {
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}

.submit-box {
  top: 0.2rem;
  text-align: center;
  font-size: 1rem;
}

.submit {
  border: 2px solid #f0f0f0;
  display: block;
  background-color: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #ffffff;
  background-color: var(--box-color);
  font-size: 1rem;
  /* line-height: 1rem; */
  font-weight: 500;
  width: 300px;
  margin: 1rem;
  margin-right: 3rem;
  border-radius: 0.8rem;
  /* text-transform: uppercase; */
  transition: all 0.2s ease-in-out;
}

.permSubmit{
  width: 200px;
}

.permSubmitBox{
  display: flex;
  flex-direction: row;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.permDiv{
  display:flex;
  display: flex;
  justify-content: center;
}

.reqPermBtn {
  text-align: center;
  margin-left: 0;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}

.forgotDiv {
  text-align: right;
  margin-right: 0.5rem;
}

.error {
  margin-left: 0.5rem;
  position: relative;
  text-align: center;
  top: 0.2rem;
  font-size: 1rem;
  color: #ea4335;
  height: 20px;
}

.forgot {
  padding-left: 1px;
  position: relative;
  top: 0.2rem;
  font-size: 0.85rem;
  color: #ea4335;
  cursor: pointer;
  /* border: 1px solid red; */
  /* visibility: hidden; */
}

.google {
  position: relative;
  top: -0.2rem;
  color: #000;
  background-color: #f0f0f0;
  /* box-shadow: ; */
}

/* .line {
  border: "1px solid #DCD8D8"; 
  width: "125px";
  border-radius: "3px";
  background-color:"#DCD8D8";
  height: "2px";
} */

.submit:hover {
  border: 2px solid black;
  color: black;
}

.userType {
  top: 1.1rem;
  position: relative;
  left: -17px;
  right: 0px;
  display: flex;
  width: 343.5px;
  justify-content: center;
  /* border: #000 solid; */
}

.committee,
.faculty {
  padding: 1rem;
  text-align: center;
  /* border: #000 solid; */
  position: relative;
  cursor: pointer;
  width: 100%;
  offset: 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.yellow {
  background-color: var(--box-color) !important;
}

.committee {
  padding-right: 1rem;
  border-bottom-left-radius: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
}

.faculty {
  padding-left: 1rem;
  border-bottom-right-radius: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
}

/* .navbar {
  position: sticky;
  border-bottom: 1px solid black;
  width: 100%;
  margin-left: -50px;
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  z-index: 1;
}

.navbar li {
  list-style: none;
  margin-right: 10px;
  font-size: x-large;
}

.navbar li a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.navbar li a:hover {
  color: white;
} */

.calendar {
  width: auto;
  position: relative;
  margin-left: 100px;
  top: 4rem;
  right: 30px;
}

.venues-select {
  width: 49rem;
}

.pageHeader {
  position: relative;
  left: 9rem;
  margin-top: 1.5rem;
}

.permHeader {
  position: relative;
  background-color: var(--box-color);
  padding-left: 1rem;
  padding-right: 1rem;
  width: max-content;
  height: 3rem;
  text-align: center;
  color: var(--accent-color);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--accent-color);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--box-color);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--accent-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--accent-color);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  width: 15rem;
  height: 37rem;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--bg-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-70%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
}

.table {
  top: 1rem;
  position: relative;
  width: 62rem;
  height: 20rem;
  background-color: var(--table-color);
  border-radius: 1rem;
}

.titles {
  height: 2.2rem;
  position: relative;
  display: flex;
  /* border: #000 solid; */
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: var(--table-title);
}

.tit {
  cursor: pointer;
  top: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: max-content;
  height: 0.8rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.under {
  border-bottom: 0.2rem solid var(--box-color);
}

.headings {
  height: 1.8rem;
  left: 1rem;
  top: 1rem;
  position: relative;
  display: flex;
  background-color: var(--table-head);
  border-radius: 0.5rem;
  width: 60rem;
  z-index: 1;
}

.hehe {
  padding-left: 0.2rem;
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: #000 solid; */
  width: 100%;
}

.table .content {
  height: 2rem;
  left: 1rem;
  top: 1.2rem;
  position: relative;
  display: flex;
  width: 60rem;
  border-bottom: 0.1rem solid var(--table-title);
  cursor: pointer;
}

.table .content:hover {
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.content .status {
  color: var(--stat-pending);
  text-transform: capitalize;
}

.approved {
  color: var(--stat-accept) !important;
}

.rejected {
  color: var(--stat-reject) !important;
}

.content-container {
  overflow: scroll;
  height: 15rem;
  overflow-x: hidden;
}

.permForm {
  margin-left: 9rem;
  margin-top: 1.5rem;
}

.mainForm {
  background-color: var(--table-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  border-radius: 30px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-container {
  left: 0.2rem;
  top: 0.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  width: 49rem;
}

/* .form-container:last-child {
  margin-top: 10px;
} */

.form-container input,
textarea {
  outline: none;
  border: 2px solid #e5e7eb;
  background-color: #fff;
  padding: 0.6rem;
  font-size: 1rem;
  /* line-height: 1rem; */
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.form-container input:focus,
textarea:focus {
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}

.dateTime {
  /* left: 0.2rem; */
  display: flex;
  flex-direction: row;
  width: 49rem;
  /* border: #000 solid; */
}

.fc1 {
  margin-right: 1rem;
}

.fc2 {
  margin-left: 1rem;
}

textarea {
  resize: none;
}

/* .modal-overlay{ */
/* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: grid;
  place-items: center;
  transition: var(--transition);
  z-index: 100; */

/* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.modal-container {
  /* width: 60rem; */
  /* height:80vh; */
  /* overflow: scroll; */
  overflow-x: hidden;
  background-color: var(--accent-color);
  border: none;
  /* border-radius: 1rem; */
}

.modal {
  position: fixed;
  width: 50rem;
  z-index: 1040;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 30rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  outline: none;
  /* transform: translateX(-50%); */
  /* background-color: white;  */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  /* border-radius: 3px; */
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.close-button {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border: none;
  opacity: 0.7;
  cursor: pointer;
  left: 47.5rem;
  top: 0.5rem;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  font-family: var(--font);
  padding: 0.4rem 0rem;
  margin: 0rem 0.1rem;
  width: 8rem;
  border-radius: 5px;
  border: none;
}

.modal-footer {
  /* border: #000 solid; */
  padding: 12px;
  border-top: 1px solid #e9ecef;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.resub-button {
  color: #fff;
  background-color: #6c757d;
  /* background-color: var(--stat-pending); */
}

.approve-button {
  color: #fff;
  /* background-color: #007bff; */
  background-color: var(--stat-accept);
}

.reject-button {
  color: #fff;
  background-color: var(--stat-reject);
}

.resub-button:hover{
  background-color: #545e66;
}

.approve-button:hover{
  background-color: #18a915;
}

.reject-button:hover{
  background-color: #ba0f0f;
}

.eventDetail{
  position: relative;
  top: -1.5rem;
  left: 1rem;
  display: flex;
  width: 47rem;
  /* border: #000 solid; */
  margin: 0rem;
  padding: 0rem;
}

.eventDetail h2 {
  margin: 0rem;
  /* padding-top: 0.7rem; */
}

.eventDetail p {
  /* border: #000 solid; */
  /* margin: 0; */
  /* padding: 0; */
  margin-left: 0.5rem;
  font-family: var(--font);
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.commName {
  margin: 0rem;
  padding: 0rem;
  text-align: center;
  width: 100%;
}

.permCard {
  border: #000 solid;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: var(--table-color);
  width: 10rem;
  /* height: 5rem; */
}

.profileCard{
  background-color: var(--table-color);
  margin-top: 1rem;
  width: 45rem;
  min-height: max-content;
  height: 50rem;
  border-radius: 1.5rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* z-index: 1; */
}

.profileHeader{
  position: relative;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  height: 8rem;
  background-color: var(--box-color);
}

.profilePic{
  position: relative;
  /* border: #000 solid 1px; */
  height: 8.15rem;
  width: 8.15rem;
  top: 4rem;
  left: 6rem;
  margin: 0;
  padding: 0;
  /* z-index: 2; */
}

.picFill{
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--table-title);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 0; */
}

.profPhoto{
  position: relative;
  color: var(--accent-color);
  border: 0.6rem solid var(--table-color);
  border-radius: 50%;
  margin: 0rem;
  padding: 0rem;
  /* z-index:6; */
}

.profileDetails{
  position: relative;
  border-radius: 0.8rem;
  margin: 1.9rem;
  padding: 0;
  height: fit-content;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  border: transparent solid 1px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  top: 3rem;
}

.profileName h1, h3, h4, p{
  margin: 0rem;
  padding: 0rem;
}

.profileName, .profileContacts{
  position: relative;
  margin: 1rem;
  top: 0.5rem;
  border-bottom: 2px solid var(--table-title);
}

.profileContacts{
  display: flex;
  /* justify-content: center; */
}

.commDetails{
  margin-right: 0.3rem;
  /* border: #000 solid 1px; */
  width: 100%;
}

.editProfileBtn{
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

.editBtn{
  width: max-content;
  padding: 0.4rem;
  border-radius: 0.8rem;
  color: var(--accent-color);
  background-color: var(--table-title);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.editBtn p{
  margin-left: 0.3rem;

.prev-venues-container {
  outline: none;
  border: 2px solid #e5e7eb;
  background-color: #fff;
  padding: 0.6rem;
  font-size: 1rem;
  /* line-height: 1rem; */
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  height: 40px;
}

.prev-venue {
  display: flex;
  min-width: 0;
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  margin-right: 4px;
  box-sizing: border-box;
  transition: var(--transition);
  align-items: center;
}

.prev-venue p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  color: hsl(0, 0%, 20%);
  font-size: 100%;
  padding-left: 6px;
  box-sizing: border-box;
  align-items: center;
}

.prev-venue i{
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}

.fa-times{
  color: red;
}

.fa-check{
  color: rgb(0, 173, 0);
}

.prev-venue i:hover {
  /* color: white; */
}

.faded{
  color: grey;
  background-color: ;

}